
<div class="container mt-4 mb-4 bg-secondary bg-opacity-10">
    <button type="button" class="btn btn-primary" (click)="crearPais();">Crear nuevo pais</button>
    <table class="table table-dark table-striped mt-4 table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Nacidos</th>
          <th scope="col">Residentes</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of paises">
          <td>{{ pais.id }}</td>
          <td>{{ pais.nombre }}</td>
          <td><span *ngFor = "let residente of pais.residentes">{{residente.nombre}}</span></td>
          <td><span *ngFor = "let nativo of pais.nativos">{{nativo.nombre}}</span></td>
        </tr>
      </tbody>
    </table>
    </div>
    