
<div class="container mt-4 mb-4 bg-secondary bg-opacity-10">
	<div class="row mb-4 ">
	<h1 class="display-6 col-12 mb-4">Crea tu persona</h1>
	<form (ngSubmit)="onSubmit()" class="row">
		<div class="col-2">			
			<label for="nom">Nombre de la persona:</label>
			<input type="text" [(ngModel)]="persona.nombre" name="nom" id="nom" required="required" class="form-control" placeholder="Nombre"/>
		</div>
		<div class="col-2">			
			<label for="pass">Password:</label>
			<input type="password"  [(ngModel)]="persona.password" name="pass" id="pass" required="required" class="form-control" placeholder="Contraseña"/>
		</div>
		<div class="col-2">			
			<label for="nacimiento">Fecha de nacimiento :</label>
			<input type="date" [(ngModel)]="persona.nacimiento" name="fNacimiento" id="nacimiento" required="required" class="form-control"/>
		</div>
		<div class="col-2">	
				<label class="d-block" for="nace">Pais donde nació</label>
  				<select class="custom-select w-100" [(ngModel)]="personaNaceId" id="nace" name="nace">
  					<!--<option value="" selected="selected">Choose..</option>-->
  					<option *ngFor="let pais of paises"  value="{{pais.id}}">{{pais.nombre}}</option>
  				</select>
  		</div>
  		<div class="col-2">	
				<label class="d-block" for="vive">Pais donde reside</label>
  				<select class="custom-select w-100" [(ngModel)]="personaViveId" id="vive" name="vive">
  					<!--<option value="" selected="selected">Choose..</option>-->
  					<option *ngFor="let pais of paises" value="{{pais.id}}" >{{pais.nombre}}</option>
  				</select>
  		</div>
  		 <div class="col-6 mt-4">
  		 	<label>Aficiones que le gusta</label>
  			<div class="custom-control custom-checkbox" *ngFor="let aficion of aficiones">
  				<input type="checkbox" class="custom-control-input" id="gus-{{aficion.id}}" value="{{aficion.id}}">
  				<label class="custom-control-label" for="gus-{{aficion.id}}">{{aficion.nombre}}</label>
			</div>
  		</div>
  		 <div class="col-6 mt-4">
  		 	<label>Aficiones que le disgusta</label>
  			<div class="custom-control custom-checkbox" *ngFor="let aficion of aficiones">
  				<input type="checkbox" class="custom-control-input" id="disgus-{{aficion.id}}" value="{{aficion.id}}">
  				<label class="custom-control-label" for="disgus-{{aficion.id}}">{{aficion.nombre}}</label>
			</div>
  		</div>
  	<button class="btn btn-primary col-2 mt-4" type="submit">Crear</button>
	</form>
	</div>
</div>